In [2]:
library('data.table')

In [3]:
raw <- "C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/raw"

In [4]:
raw

[1] "C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/raw"

In [5]:
train <- fread(file.path(raw,"train.csv"), select = c('Cliente_ID','Producto_ID','Demanda_uni_equil'), colClasses=c(Cliente_ID="numeric",Producto_ID="numeric",Demanda_uni_equil="numeric"))

Read 74180464 rows and 3 (of 11) columns from 2.980 GB file in 00:01:39

In [6]:
head(train)

  Cliente_ID Producto_ID Demanda_uni_equil
1 15766      1212        3
2 15766      1216        4
3 15766      1238        4
4 15766      1240        4
5 15766      1242        3
6 15766      1250        5

In [7]:
sapply(train,class)

       Cliente_ID       Producto_ID Demanda_uni_equil
        "numeric"         "numeric"         "numeric"

set a table key to enable fast aggregations

In [8]:
setkey(train, Producto_ID, Cliente_ID)

In [13]:
train[1]

  Cliente_ID Producto_ID Demanda_uni_equil
1 146030     41          70

In [10]:
tail(train)

  Cliente_ID Producto_ID Demanda_uni_equil
1 136301     49997        7
2 136301     49997       15
3 136301     49997       17
4 136301     49997       15
5 136301     49997       36
6 136301     49997       13

In [ ]:
median <- train[,median(Demanda_uni_equil)]