<img src='../img/bimbo.png'>

- Task: Demand = Sales - Returns
- Create holdout test set

## Data exploration

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline
dir_sub = "C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/submissions/"
dir_raw = "C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/raw/"

In [2]:
subm = pd.read_csv(os.path.join(dir_raw,"sample_submission.csv"))
prod = pd.read_csv(os.path.join(dir_raw,"producto_tabla.csv"))
town_state = pd.read_csv(os.path.join(dir_raw,"town_state.csv"))
client = pd.read_csv(os.path.join(dir_raw,"cliente_tabla.csv"))

In [3]:
test = pd.read_csv(os.path.join(dir_raw,"test.csv"), nrows=500000)
train = pd.read_csv(os.path.join(dir_raw,"train.csv"), nrows=500000)

### Features

#### Product

In [162]:
# prod.head()

In [5]:
prod['unit_g'] = prod['NombreProducto'].str.extract("([0-9]+)(g )", expand=True)[1]
prod['amount_g'] = prod['NombreProducto'].str.extract("([0-9]+)(g )", expand=True)[0]
prod['unit_ml'] = prod['NombreProducto'].str.extract("([0-9]+)(ml )", expand=True)[1]
prod['amount_ml'] = prod['NombreProducto'].str.extract("([0-9]+)(ml )", expand=True)[0]

In [6]:
prod['amount_g'] = prod['amount_g'].convert_objects(convert_numeric=True)
prod['amount_ml'] = prod['amount_ml'].convert_objects(convert_numeric=True)

c:\users\568377\appdata\local\programs\python\python35-32\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
c:\users\568377\appdata\local\programs\python\python35-32\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [79]:
prod

,Producto_ID,NombreProducto,unit_g,amount_g,unit_ml,amount_ml
0,0,NO IDENTIFICADO 0,NaN,NaN,NaN,NaN
1,9,Capuccino Moka 750g NES 9,g,750.0,NaN,NaN
2,41,Bimbollos Ext sAjonjoli 6p 480g BIM 41,g,480.0,NaN,NaN
3,53,Burritos Sincro 170g CU LON 53,g,170.0,NaN,NaN
4,72,Div Tira Mini Doradita 4p 45g TR 72,g,45.0,NaN,NaN
5,73,Pan Multigrano Linaza 540g BIM 73,g,540.0,NaN,NaN
6,98,Tostado Integral 180g WON 98,g,180.0,NaN,NaN
7,99,Pan Blanco 567g WON 99,g,567.0,NaN,NaN
8,100,Super Pan Bco Ajonjoli 680g SP WON 100,g,680.0,NaN,NaN
9,106,Wonder 100pct mediano 475g WON 106,g,475.0,NaN,NaN
10,107,Wonder 100pct gde 680g SP WON 107,g,680.0,NaN,NaN
11,108,Baguette Precocida Cong 280g DH 108,g,280.0,NaN,NaN
12,109,Pan Multicereal 475g WON 109,g,475.0,NaN,NaN
13,112,Tostado Integral 180g WON 112,g,180.0,NaN,NaN
14,122,Biscotel Receta Original 410g CU SUA 122,g,410.0,NaN,NaN
15,123,Super Bollos 5in 8p 540g WON 123,g,540.0,NaN,NaN
16,125,Bollos 8p 450g WON 125,g,450.0,NaN,NaN
17,131,Bollos BK 4in 36p 1635g SL 131,g,1635.0,NaN,NaN
18,132,Bollos BK 5in 30p 1730g SL 132,g,1730.0,NaN,NaN
19,134,Bollos BK 4in 30p 1635g TIR SL 134,g,1635.0,NaN,NaN
20,135,Bollos BK 5in 20p 1730g TIR SL 135,g,1730.0,NaN,NaN
21,141,Hot Dogs 8p 290g WON 141,g,290.0,NaN,NaN
22,145,Super Hot Dogs 8p 435g WON 145,g,435.0,NaN,NaN
23,151,Medias Noches 24p 470g BK SL 151,g,470.0,NaN,NaN
24,157,Bollo WB 5in snAjn 20p 1950g SL 157,g,1950.0,NaN,NaN
25,160,Molido Bolsa 180g WON 160,g,180.0,NaN,NaN
26,161,Bollos KFC 5in 15p 1237g WON 161,g,1237.0,NaN,NaN
27,162,Molido 25Kg WON 162,NaN,NaN,NaN,NaN
28,163,Molido 5Kg WON 163,NaN,NaN,NaN,NaN
29,179,Tostado Int 0pct Grasa Azucar 200g WON 179,g,200.0,NaN,NaN
...,...,...,...,...,...,...
2562,49737,Powerade Limon 600ml CC 49737,NaN,NaN,ml,600.0
2563,49738,Powerade Mora 600ml CC 49738,NaN,NaN,ml,600.0
2564,49739,Powerade Naranja 600ml CC 49739,NaN,NaN,ml,600.0
2565,49740,Powerade Uva 600ml CC 49740,NaN,NaN,ml,600.0
2566,49754,Totopos Redondos 250g DH 49754,g,250.0,NaN,NaN
2567,49765,Fanta Lata 355ml CC 49765,NaN,NaN,ml,355.0
2568,49766,Sprite Zero Lata 355ml CC 49766,NaN,NaN,ml,355.0
2569,49769,Sidral Mundet Lata 355ml CC 49769,NaN,NaN,ml,355.0
2570,49773,Bombonete San Valentin 3p 55g MLA 49773,g,55.0,NaN,NaN
2571,49779,Tortillinas 22p 570g NW MTA TR 49779,g,570.0,NaN,NaN
2572,49781,Tortillinas 12p 310g Prom MTA TR 49781,g,310.0,NaN,NaN
2573,49782,Tortillinas 12p 310g NW MTA TR 49782,g,310.0,NaN,NaN
2574,49810,Totopo Chilaquiles 500g TAB MR 49810,g,500.0,NaN,NaN
2575,49835,Bimkingo Clasico Prom 135g LON 49835,g,135.0,NaN,NaN
2576,49860,Gansito ME 5p 250g MTA MLA 49860,g,250.0,NaN,NaN
2577,49892,Wonder 100pct mediano 475g NM MTA WON 49892,g,475.0,NaN,NaN
2578,49920,Conchas 3p 180g Prom TAB TR 49920,g,180.0,NaN,NaN
2579,49928,Dona 1p 26g Tira BIM 49928,g,26.0,NaN,NaN
2580,49944,Pan Blanco Bimbo Rendidor 567g TNB BIM 49944,g,567.0,NaN,NaN
2581,49972,Pan Blanco Bimbo Rendidor 567g MTA BIM 49972,g,567.0,NaN,NaN
2582,49973,Pan Blanco Bimbo Rendidor 567g BIM 49973,g,567.0,NaN,NaN
2583,49986,Tostado Blanco 180g WON 49986,g,180.0,NaN,NaN
2584,49988,Tostado Blanco 180g MTA WON 49988,g,180.0,NaN,NaN
2585,49989,Tostado Blanco 180g TAB WON 49989,g,180.0,NaN,NaN
2586,49990,Tostado Integral 180g WON 49990,g,180.0,NaN,NaN
2587,49992,Tostado Integral 180g MTA WON 49992,g,180.0,NaN,NaN
2588,49993,Tostado Integral 180g TAB WON 49993,g,180.0,NaN,NaN
2589,49994,Tostado Int 0pct Grasa Azuc 200g WON 49994,g,200.0,NaN,NaN
2590,49996,Tostado Int 0pct Grasa Azuc 200g MTA WON 49996,g,200.0,NaN,NaN
2591,49997,Tostado Int 0pct Grasa Azuc 200g TAB WON 49997,g,200.0,NaN,NaN

In [78]:
fig, axs = plt.subplots(1,2)
bins_ml=[i for i in range(0,1000,50)]
bins_g=[i for i in range(0,2000,100)]

prod['amount_ml'].hist(ax=axs[0],bins=bins_ml,alpha=0.5)
axs[0].set_xlabel("ml")
prod['amount_g'].hist(ax=axs[1],bins=bins_g,alpha=0.5)
axs[1].set_xlabel("g")

# NEXT STEPS
- Categorize food
- Quota of large items
- How new is item?

# Town/State

In [5]:
town_state.head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [6]:
#lowercase
town_state['Town'] = town_state['Town'].str.lower()
town_state['State'] = town_state['State'].str.lower()
#separate zip, town_name
town_state['zip'] = town_state['Town'].str[:4]
town_state['town_name'] = town_state['Town'].str[5:]

In [7]:
town_state.head()

   Agencia_ID                   Town             State   zip         town_name
0        1110     2008 ag. lago filt      méxico, d.f.  2008     ag. lago filt
1        1111  2002 ag. azcapotzalco      méxico, d.f.  2002  ag. azcapotzalco
2        1112    2004 ag. cuautitlan  estado de méxico  2004    ag. cuautitlan
3        1113     2008 ag. lago filt      méxico, d.f.  2008     ag. lago filt
4        1114   2029 ag.iztapalapa 2      méxico, d.f.  2029   ag.iztapalapa 2

In [8]:
len(town_state['Town'].unique()), len(town_state['zip'].unique()), len(town_state['town_name'].unique())
##town_state = town_state.groupby('zip')
##town_state['Town'].str[4].unique() -> clean

(259, 257, 257)

In [9]:
# 2 times similar zips have different town_names
df = town_state.groupby('zip').Town.nunique()
df[df==2] #3 entries with different town names
double_town_names = np.array(df[df==2].index)
double_town_names # zips

array(['2152', '2169'], dtype=object)

In [10]:
town_state['zip'].max() #max zip number

'3216'

In [11]:
town_state[town_state['zip'] == double_town_names[0]]

,Agencia_ID,Town,State,zip,town_name
199,1524,2152 cruce de anden noroeste,baja california norte,2152,cruce de anden noroeste
371,2022,2152 altamirano_bm,guerrero,2152,altamirano_bm
583,21529,2152 altamirano_bm,guerrero,2152,altamirano_bm

In [12]:
town_state.loc[199,'zip']=9999
town_state.loc[199,'Town']="9999 cruce de anden noroeste"
town_state[town_state['zip'] == 9999]

,Agencia_ID,Town,State,zip,town_name
199,1524,9999 cruce de anden noroeste,baja california norte,9999,cruce de anden noroeste

In [13]:
town_state[town_state['zip'] == double_town_names[1]]

,Agencia_ID,Town,State,zip,town_name
311,1694,2169 cruce de andén sureste,puebla,2169,cruce de andén sureste
372,2023,2169 pinotepa,oaxaca,2169,pinotepa
599,21699,2169 pinotepa,oaxaca,2169,pinotepa

In [14]:
town_state.loc[311,'zip']=9998
town_state.loc[311,'Town']="9998 cruce de andén sureste"
town_state[town_state['zip'] == 9998]

,Agencia_ID,Town,State,zip,town_name
311,1694,9998 cruce de andén sureste,puebla,9998,cruce de andén sureste

In [15]:
town_state.head()

   Agencia_ID                   Town             State   zip         town_name
0        1110     2008 ag. lago filt      méxico, d.f.  2008     ag. lago filt
1        1111  2002 ag. azcapotzalco      méxico, d.f.  2002  ag. azcapotzalco
2        1112    2004 ag. cuautitlan  estado de méxico  2004    ag. cuautitlan
3        1113     2008 ag. lago filt      méxico, d.f.  2008     ag. lago filt
4        1114   2029 ag.iztapalapa 2      méxico, d.f.  2029   ag.iztapalapa 2

In [16]:
len(town_state['Town'].unique()), len(town_state['zip'].unique()), len(town_state['town_name'].unique())

(259, 259, 257)

In [17]:
df1 = town_state.groupby('town_name').zip.nunique()

In [18]:
df1[df1==2]

town_name
los mochis    2
pinotepa      2
Name: zip, dtype: int64

In [19]:
df1[df1==2] #3 entries with different town names
double_zip_names = np.array(df1[df1==2].index)
double_zip_names # zips

array(['los mochis', 'pinotepa'], dtype=object)

In [20]:
town_state[town_state['town_name'] == double_zip_names[0]] #towns can have multiple zip codes!!! :)

     Agencia_ID             Town    State   zip   town_name
211        1544  2561 los mochis  sinaloa  2561  los mochis
227        1564  2561 los mochis  sinaloa  2561  los mochis
248        1598  2561 los mochis  sinaloa  2561  los mochis
498        2655  2655 los mochis  sinaloa  2655  los mochis
774       25619  2561 los mochis  sinaloa  2561  los mochis

In [21]:
town_state[town_state['town_name'] == double_zip_names[1]] #ID 387 interferes with town_name. If town_name big effect, look here. Test here for improvement.

     Agencia_ID           Town   State   zip town_name
372        2023  2169 pinotepa  oaxaca  2169  pinotepa
387        2055  2055 pinotepa  puebla  2055  pinotepa
599       21699  2169 pinotepa  oaxaca  2169  pinotepa

In [22]:
town_state.head()

   Agencia_ID                   Town             State   zip         town_name
0        1110     2008 ag. lago filt      méxico, d.f.  2008     ag. lago filt
1        1111  2002 ag. azcapotzalco      méxico, d.f.  2002  ag. azcapotzalco
2        1112    2004 ag. cuautitlan  estado de méxico  2004    ag. cuautitlan
3        1113     2008 ag. lago filt      méxico, d.f.  2008     ag. lago filt
4        1114   2029 ag.iztapalapa 2      méxico, d.f.  2029   ag.iztapalapa 2

# Create new category city type

In [50]:
town_state['town_name_corpus'] = town_state['town_name']
town_state['town_name_type'] = ""

In [51]:
# add town_name_type and add "ag"
town_state.loc[town_state['town_name_corpus'].str[:4] == "ag. ", 'town_name_type'] = "ag"
# remove ag from town_name_corpus
town_state.loc[town_state['town_name_corpus'].str[:4] == "ag. ", 'town_name_corpus'] = town_state.loc[town_state['town_name_corpus'].str[:4] == "ag. ", 'town_name_corpus'].str[4:]

town_state.loc[town_state['town_name_corpus'].str[:3] == "ag.", 'town_name_type'] = "ag"
town_state.loc[town_state['town_name_corpus'].str[:3] == "ag.", 'town_name_corpus'] = town_state.loc[town_state['town_name_corpus'].str[:3] == "ag.", 'town_name_corpus'].str[3:]

town_state.loc[town_state['town_name_corpus'].str[:4] == "cd. ", 'town_name_type'] = "cd"
town_state.loc[town_state['town_name_corpus'].str[:4] == "cd. ", 'town_name_corpus'] = town_state.loc[town_state['town_name_corpus'].str[:4] == "cd. ", 'town_name_corpus'].str[4:]

In [52]:
town_state.head()

,Agencia_ID,Town,State,zip,town_name,town_name_corpus,town_name_type
0,1110,2008 ag. lago filt,"méxico, d.f.",2008,ag. lago filt,lago filt,ag
1,1111,2002 ag. azcapotzalco,"méxico, d.f.",2002,ag. azcapotzalco,azcapotzalco,ag
2,1112,2004 ag. cuautitlan,estado de méxico,2004,ag. cuautitlan,cuautitlan,ag
3,1113,2008 ag. lago filt,"méxico, d.f.",2008,ag. lago filt,lago filt,ag
4,1114,2029 ag.iztapalapa 2,"méxico, d.f.",2029,ag.iztapalapa 2,iztapalapa 2,ag

In [55]:
sorted(town_state['town_name'].str[:30].unique())

['acaponeta',
 'acapulco costera',
 'acapulco escenica',
 'acapulco san isidro',
 'acayucan',
 'acuña',
 'aeropuerto',
 'ag. atizapan',
 'ag. azcapotzalco',
 'ag. azcapotzalco institucional',
 'ag. centro',
 'ag. ceylan',
 'ag. coacalco',
 'ag. cuautitlan',
 'ag. ixtapaluca 1',
 'ag. iztapalapa 1',
 'ag. la villa',
 'ag. lago filt',
 'ag. los reyes',
 'ag. mega naucalpan',
 'ag. mixcoac',
 'ag. neza',
 'ag. pantitlan',
 'ag. rojo gomez',
 'ag. san antonio',
 'ag. san lorenzo',
 'ag. santa clara',
 'ag. santa clara autoservicios',
 'ag. santa lucia',
 'ag. tepalcates 1',
 'ag. tepalcates 2',
 'ag. tepeji del rio',
 'ag. tepozotlan',
 'ag. texcoco',
 'ag. tizayuca',
 'ag. tultitlan',
 'ag. vallejo',
 'ag. xalostoc',
 'ag. xochimilco 1',
 'ag. xochimilco 2',
 'ag.huejutla',
 'ag.iztapalapa 2',
 'ag.mixquiahuala',
 'ag.pachuca',
 'ag.tulancingo',
 'agencia suandy',
 'agua prieta',
 'aguascalientes norte',
 'aguascalientes siglo xxi',
 'altamirano_bm',
 'apan',
 'apatzingan',
 'apizaco marinela',
 'arriaga_bm',
 'atlacomulco',
 'atotonilco',
 'autlan_bm',
 'azcapotzalco ii marinela',
 'bi_san francisco del rincon',
 'blm_ag. campesinos autoservici',
 'bw_guasave',
 'caborca',
 'campeche',
 'cananea',
 'cancun ii',
 'cancun_bm',
 'cardenas',
 'casas grandes',
 'cavazos',
 'cd guzman',
 'cd. constitucion',
 'cd. mante',
 'cd. obregon',
 'cd. valles',
 'celaya industrial wonder',
 'celaya norponiente',
 'chalco_bm',
 'chetumal',
 'chihuahua bimbo',
 'chihuahua marinela',
 'chilpancingo',
 'ciudad del carmen',
 'ciudad serdán',
 'coatzacoalcos mla.',
 'colima bimbo',
 'comalcalco',
 'comitan',
 'conveniencia veracruz sur',
 'cordoba',
 'cozumel',
 'cruce de anden noroeste',
 'cruce de anden norte',
 'cruce de anden región mexico',
 'cruce de andén sureste',
 'cuahutemoc',
 'cuautla',
 'cubilete',
 'cuernavaca buenavista',
 'cuernavaca civac',
 'culiacan bimbo',
 'culiacan marinela',
 'delicias bimbo',
 'durango bimbo',
 'emiliano zapata',
 'ensenada ii',
 'escarcega',
 'escobedo',
 'fresnillo bimbo',
 'gomez palacio bimbo',
 'gonzalez gallo',
 'granjas marinela',
 'guadalajara',
 'guamuchil',
 'guaymas',
 'guerrero negro',
 'hermosillo sur',
 'hidalgo bimbo',
 'huajuapan',
 'iguala',
 'industrial',
 'irapuato guadalupe',
 'irapuato san miguelito',
 'isla',
 'ixtepec',
 'izucar de matamoros',
 'jalapa i',
 'jojutla_bm',
 'juarez',
 'juarez bimbo',
 'juxtlahuaca',
 'la fe',
 'la paz',
 'la peñita',
 'la piedad',
 'lagos de moreno',
 'laredo',
 'las torres',
 'lazaro cardenas',
 'leon milenium',
 'leon san juan bosco',
 'libertad',
 'linares',
 'lincoln',
 'los mochis',
 'manzanillo bimbo',
 'maravatio',
 'mariano otero_mm',
 'martinez de la torre',
 'matamoros bimbo',
 'matehuala bimbo',
 'mazatlan bimbo',
 'mazatlan marinela',
 'merida norte',
 'merida sur',
 'mexicali plaza',
 'mexicali poniente',
 'minatitlan',
 'mitras',
 'moctezuma',
 'monclova bimbo',
 'morelia abastos',
 'morelia la huerta',
 'naucalpan ii',
 'navojoa',
 'nogales_bw',
 'norte',
 'nuevo ideal',
 'nuevo laredo',
 'oaxaca bimbo',
 'oaxaca marinela',
 'ocotlan bimbo',
 'ojinaga',
 'orizaba',
 'pachuca ii',
 'palomar',
 'parral bimbo',
 'piedras negras',
 'pinotepa',
 'playa del carmen',
 'poza rica',
 'puebla norte bimbo',
 'puebla norte marinela',
 'puebla sur bimbo',
 'puebla sur marinela',
 'puerto escondido',
 'puerto peñasco',
 'puerto vallarta bimbo',
 'queretaro balvanera',
 'queretaro san pablo',
 'reynosa bimbo',
 'reynosa marinela',
 'rio verde bimbo',
 'ruiz cortinez',
 'sabinas',
 'salamanca',
 'salina cruz',
 'saltillo bimbo',
 'saltillo marinela',
 'san andres',
 'san cristobal',
 'san jose del cabo',
 'san juan del rio',
 'san lucas',
 'san luis potosi marinela',
 'san luis r.c.',
 'san luis rey',
 'san martin t.',
 'san miguel de allende',
 'san nicolas',
 'san pedro',
 'san quintín',
 'santa ana',
 'santa catarina bimbo',
 'santa rosalia',
 'santiago ixcuintla',
 'sendero autoservicio',
 'tampico bimbo',
 'tampico marinela',
 'tapachula',
 'tecate',
 'tecoman',
 'tehuacan marinela',
 'tekax',
 'tepatitlan bimbo',
 'tepeaca',
 'tepic bimbo',
 'texcoco wonder',
 'teziutlan',
 'tierra blanca',
 'tijuana el florido',
 'tijuana gato bronco',
 'tijuana pacifico',
 'tijuana rosarito',
 'tlaqueparque',
 'toluca aeropuerto',
 'toluca centro',
 'toluca poniente',
 'toluca san antonio',
 'torreon',
 'tuxpam',
 'tuxtepec',
 'tuxtla',
 'uriangato',
 'uruapan',
 'valladolid',
 'veracruz norte',
 'veracruz sur mla',
 'victoria bimbo',
 'wonder guerrero',
 'wonder la raza',
 'zacatecas bimbo',
 'zacatecas marinela',
 'zacatlan',
 'zamora madero',
 'zapopan bimbo',
 'zihuatanejo',
 'zitacuaro']

#### Client

In [257]:
client.head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [59]:
test.head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [122]:
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

## Merge product ID, train

In [127]:
train.tail()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
499995,3,1120,1,2116,1182439,31588,1,11.53,0,0.0,1
499996,3,1120,1,2116,1182439,35841,4,27.68,0,0.0,4
499997,3,1120,1,2116,1182439,36746,2,23.06,0,0.0,2
499998,3,1120,1,2116,1182439,36747,1,11.53,0,0.0,1
499999,3,1120,1,2116,1243274,30532,3,23.34,0,0.0,3

In [81]:
prod.head()

,Producto_ID,NombreProducto,unit_g,amount_g,unit_ml,amount_ml
0,0,NO IDENTIFICADO 0,NaN,NaN,NaN,NaN
1,9,Capuccino Moka 750g NES 9,g,750.0,NaN,NaN
2,41,Bimbollos Ext sAjonjoli 6p 480g BIM 41,g,480.0,NaN,NaN
3,53,Burritos Sincro 170g CU LON 53,g,170.0,NaN,NaN
4,72,Div Tira Mini Doradita 4p 45g TR 72,g,45.0,NaN,NaN

In [160]:
train = pd.merge(train, prod, on='Producto_ID', how='left')

In [161]:
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,NombreProducto,unit_g,amount_g,unit_ml,amount_ml
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3,Roles Canela 2p 120g BIM 1212,g,120.0,NaN,NaN
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4,Roles Glass 2p 135g BIM 1216,g,135.0,NaN,NaN
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4,Panquecito Gota Choc 2p 140g BIM 1238,g,140.0,NaN,NaN
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4,Mantecadas Vainilla 4p 125g BIM 1240,g,125.0,NaN,NaN
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3,Donitas Espolvoreadas 6p 105g BIM 1242,g,105.0,NaN,NaN

# Feature engineering

https://www.kaggle.com/cast42/rossmann-store-sales/xgboost-in-python-with-rmspe-v2/code

In [2]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import xgboost as xgb
import operator
import matplotlib

ImportError: No module named 'xgboost'

# sub 2

In [85]:
train = pd.read_csv(os.path.join(dir_raw,"sample_submission.csv"))

In [86]:
train["Demanda_uni_equil"]=6

In [87]:
train.to_csv(os.path.join(dir_sub, "submission_2.csv"), index=False)