# R medians
https://www.kaggle.com/nigelcarpenter/grupo-bimbo-inventory-demand/r-medians/code

In [2]:
library('data.table')

In [3]:
raw <- "C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/raw"

In [48]:
sub <- "C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/submissions"

In [5]:
train <- fread(file.path(raw,"train.csv"), select = c('Cliente_ID','Producto_ID','Demanda_uni_equil'), colClasses=c(Cliente_ID="numeric",Producto_ID="numeric",Demanda_uni_equil="numeric"))

Read 74180464 rows and 3 (of 11) columns from 2.980 GB file in 00:01:39

In [6]:
head(train)

  Cliente_ID Producto_ID Demanda_uni_equil
1 15766      1212        3
2 15766      1216        4
3 15766      1238        4
4 15766      1240        4
5 15766      1242        3
6 15766      1250        5

In [7]:
sapply(train,class)

       Cliente_ID       Producto_ID Demanda_uni_equil
        "numeric"         "numeric"         "numeric"

set a table key to enable fast aggregations

In [8]:
setkey(train, Producto_ID, Cliente_ID)

In [24]:
median <- train[,median(Demanda_uni_equil)] # overall median

In [32]:
#calculate product overall median -> M2
median_Prod <- train[, median(Demanda_uni_equil), by = Producto_ID]
setnames(median_Prod, "V1","M2")

In [34]:
#calculate the client and product median -> M3
median_Client_Prod <- train[, median(Demanda_uni_equil),by = .(Producto_ID,Cliente_ID)]
setnames(median_Client_Prod,"V1","M3")

# Scoring

In [36]:
test <- fread(file.path(raw,"test.csv"), 
               select = c('id','Cliente_ID', 'Producto_ID'),
               colClasses=c(Cliente_ID="numeric",Producto_ID="numeric"))

Read 6999251 rows and 3 (of 7) columns from 0.234 GB file in 00:00:07

In [40]:
sapply(test, class)
setkey(test, Producto_ID, Cliente_ID)

         id  Cliente_ID Producto_ID
  "integer"   "numeric"   "numeric"

In [41]:
# add product and client and product medians
submit <- merge(test, median_Client_Prod, all.x = TRUE)
submit$M2 <- merge(test, median_Prod, by = "Producto_ID", all.x = TRUE)$M2

In [42]:
submit$Pred <- submit$M3

In [43]:
# where median by product and client is null use median by product (M2)
submit[is.na(M3)]$Pred <- submit[is.na(M3)]$M2

In [44]:
# where median by product is null use overall median
submit[is.na(Pred)]$Pred <- median

In [45]:
setnames(submit,"Pred","Demanda_uni_equil")

In [46]:
head(submit)

  Producto_ID Cliente_ID id      M3   M2    Demanda_uni_equil
1 41           681747    6236398 1430  70.0 1430.0
2 41          2284385    1678163  110  70.0  110.0
3 41          2482890    3458287  400  70.0  400.0
4 53            26372    2690233  138 119.5  138.0
5 53          1000006    1288534   NA 119.5  119.5
6 53          1216931    1127055  440 119.5  440.0

In [49]:
# Write out submission file.
# Any results you write to the current directory are saved as output.
write.csv(submit[,.(id,Demanda_uni_equil)],file.path(sub,"submission3.csv"), row.names = FALSE)

In [51]:
head(submit[,median(Demanda_uni_equil)])

[1] 3.5

# Example

In [36]:
library(data.table)
#library(xgboost)

train=fread('C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/raw/train.csv', nrows = 1000000, select = c("Semana",'Cliente_ID', 'Producto_ID', 'Agencia_ID', 'Ruta_SAK', 'Demanda_uni_equil'))
test=fread('C:/Users/568377/Cognizant/Data Science/kaggle/Bimbo Bread/raw/test.csv', nrows = 1000000, select = c("Semana",'id','Cliente_ID', 'Producto_ID', 'Agencia_ID', 'Ruta_SAK'))

In [37]:
# Cut the train set to 8 and 9 weeks (Semana) for using only one week lags for target variable.
# If you have enough memory, you can set up condition Semana>3 on the next row for using lagged values of target variable for 5 weeks. 
train=train[Semana>7,]

train$id=0
train[,target:=Demanda_uni_equil]
train[,Demanda_uni_equil:=NULL]
train[,tst:=0]
test$target=0
test[,tst:=1]
data=rbind(train,test)
rm(test)  
rm(train)

     Semana Agencia_ID Ruta_SAK Cliente_ID Producto_ID Demanda_uni_equil id
     target

     Semana Agencia_ID Ruta_SAK Cliente_ID Producto_ID id target

     Semana Agencia_ID Ruta_SAK Cliente_ID Producto_ID id target tst

        id     Semana Agencia_ID Ruta_SAK Cliente_ID Producto_ID target tst
1        0     11      4037      2209     4639078    35305       0      1
2        1     11      2237      1226     4705135     1238       0      1
3        2     10      2045      2831     4549769    32940       0      1
4        3     11      1227      4448     4717855    43066       0      1
5        4     11      1219      1130      966351     1277       0      1
6        5     11      1146      6601     1741414      972       0      1
7        6     11      2057      4507     4659766     1232       0      1
8        7     10      1612      2837     4414012    35305       0      1
9        8     10      1349      1223      397854     1240       0      1
10       9     11      1461      1203     1646915    43203       0      1
11      10     11      1124      1118     4555688     1278       0      1
12      11     10      1336      1069     4387996     2233       0      1
13      12     11      1239      1125      290608     4270       0      1
14      13     10      1217      1143     4446449     1240       0      1
15      14     10      1312      2056       69110    43274       0      1
16      15     11      1227      2115     1034925    37361       0      1
17      16     11      2071      1203       91580    43200       0      1
18      17     11      3211      1016      325074     1150       0      1
19      18     10      1629      1612     2325923     4270       0      1
20      19     11     23719      2813     4752270    35456       0      1
21      20     11      1347      2153     2257091    30552       0      1
22      21     11      2653      1048     5885765     1125       0      1
23      22     10      1477      4714     4670562    35525       0      1
24      23     11      1232      1211      245366     1150       0      1
25      24     11      2216      1151     2197573     1232       0      1
26      25     11      1227      2822     3342223    43285       0      1
27      26     10      3214      1627     4721398    36920       0      1
28      27     11      1420      2134     1500391    37361       0      1
29      28     11      1137      1064     4461695     2233       0      1
30      29     11      2012      1158     1485041    41938       0      1
...     ...    ...    ...        ...      ...        ...         ...    ...
999971  999970 10      1453      2032     1056353    37058       0      1
999972  999971 10      1622      1158      228247     1212       0      1
999973  999972 10      1534      2113      621754    32940       0      1
999974  999973 10      1138      1420      967274     1230       0      1
999975  999974 10      1628      2158      327677    43058       0      1
999976  999975 10      1625      1286     2410212    40447       0      1
999977  999976 10      1111      1627       22296      325       0      1
999978  999977 11      1911      2807       91106    43058       0      1
999979  999978 10      2045      4416     1419994    43147       0      1
999980  999979 10      1633      1018      105174     1109       0      1
999981  999980 10     22090      5101     2501975     1242       0      1
999982  999981 10      1461      1212      143807    43220       0      1
999983  999982 10      1239      4509     4514086    35309       0      1
999984  999983 11      1215      2109     1594463    36747       0      1
999985  999984 11      1637      1233      749925     1278       0      1
999986  999985 10      1387      2001      410237    43147       0      1
999987  999986 11     23899      1021     2501225       73       0      1
999988  999987 10      1614      2855      277289    43069       0      1
999989  999988 11      2216      1208     1936021     1216       0      1
999990  999989 10      1453      2031       91382    31514       0      1
999991  999990 11      1552      1031     4475685    46876       0      1
999992  999991 11      1373      6607     2235546     4270       0      1
999993  999992 10      1126      1203      723139     1278       0      1
999994  999993 11      1118      1013      670336     1129       0      1
999995  999994 11      1315      2854     1496204    32940       0      1
999996  999995 11      1476      4704       36870    35456       0      1
999997  999996 11      1622      1051     1161575     1125       0      1
999998  999997 10      2629      1158      274953     1216       0      1
999999  999998 10      2629      4453     2040267    36746       0      1
1000000 999999 11      1312      1003       69413    35727       0      1

In [38]:
# Creating features for one week lagged values of target variable 
data1<-data[,.(Semana=Semana+1,Cliente_ID,Producto_ID,target)]
data_fin=merge(data,data1[Semana>8,.(targetl1=mean(target)), by=.(Semana,Cliente_ID,Producto_ID)],all.x=T, by=c("Semana","Cliente_ID","Producto_ID"))

In [39]:
head(data);head(data1);head(data_fin)

  Semana Agencia_ID Ruta_SAK Cliente_ID Producto_ID id target tst
1 11     4037       2209     4639078    35305       0  0      1
2 11     2237       1226     4705135     1238       1  0      1
3 10     2045       2831     4549769    32940       2  0      1
4 11     1227       4448     4717855    43066       3  0      1
5 11     1219       1130      966351     1277       4  0      1
6 11     1146       6601     1741414      972       5  0      1

  Semana Cliente_ID Producto_ID target
1 12     4639078    35305       0
2 12     4705135     1238       0
3 11     4549769    32940       0
4 12     4717855    43066       0
5 12      966351     1277       0
6 12     1741414      972       0

  Semana Cliente_ID Producto_ID Agencia_ID Ruta_SAK id     target tst targetl1
1 10     60         33267       2061       7238     448555 0      1   NA
2 10     60         34258       2061       7238     271105 0      1   NA
3 10     65         34802       2061       7250     756957 0      1   NA
4 10     65         35145       2061       7250     256436 0      1   NA
5 10     65         35305       2061       7250     592764 0      1   NA
6 10     65         43200       2061       7250     172582 0      1   NA

In [40]:
library(plyr)

In [41]:
table(data_fin$targetl1)

    0
16186

In [44]:
a <- c(0,1,2); b <- c(0,0,0)

In [45]:
mean(a); mean(b)

[1] 1

[1] 0