<img src='https://upload.wikimedia.org/wikipedia/commons/3/3a/Gray808.png'>

**Task**: segment a collection of nerves called the Brachial Plexus (BP) in ultrasound images

# visualization of prepared data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

imgs_id_test = np.load('../src/brachial/imgs_id_test.npy')
imgs_mask_train = np.load('../src/brachial/imgs_mask_train.npy')
imgs_test = np.load('../src/brachial/imgs_test.npy')
imgs_train = np.load('../src/brachial/imgs_train.npy')

**id** of each test picture:

In [3]:
imgs_id_test

array([ 1, 10,  2,  3,  4,  5,  6,  7,  8,  9])

test img **representation**

In [35]:
df_test = pd.Panel4D(imgs_test)
df = df_test[1][0]
df.head()

,0,1,2,3,4,5,6,7,8,9,...,570,571,572,573,574,575,576,577,578,579
0,0,188,172,168,162,159,159,159,161,162,...,119,115,113,112,112,114,116,116,115,114
1,0,255,255,255,255,255,255,255,255,255,...,194,191,184,182,182,184,186,185,177,172
2,0,255,255,255,255,255,255,255,253,252,...,215,211,203,200,204,204,208,205,192,185
3,0,179,164,158,157,157,158,161,165,166,...,204,205,205,206,204,196,185,184,179,179
4,0,161,135,134,132,133,128,132,137,141,...,218,224,234,240,239,224,210,199,191,196

In [ ]:
DataFrame.hist(df)

In [21]:
sorted(df[1])
counts = np.bincount(sorted(df[1]))

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        1,  0,  0,  0,  3,  0,  0,  1,  5,  2,  1,  0,  0,  1,  2, 14,  0,
        1,  0,  0,  2,  2,  1,  1,  7,  1,  0,  3,  0,  4,  2,  1,  0,  0,
        1,  7,  0,  2,  1,  6,  0,  0,  7,  3,  0,  2,  0,  3,  0,  5,  2,
        0,  3,  5,  3,  0,  4,  5,  9,  6,  1,  0,  0,  1,  4,  0,  1,  2,
        2,  0,  1,  3,  2,  3,  5,  4,  0,  2,  0,  1,  2,  3,  1,  0,  3,
        1,  2,  1,  0,  1,  0,  1,  0,  1,  2,  0,  3,  0,  0,  0,  3,  0,
        0,  2,  1,  0,  3,  3,  3,  1,  1,  0,  0,  2,  0,  1,  0,  1,  1,
        0,  2,  0,  1,  1,  1,  2,  0,  1,  2,  0,  0,  1,  0,  0,  0,  1,
        1,  0,  1,  1,  0,  2,  0,  5,  2,  3,  1,  0,  3,  2,  0,  1,  1,
        0,  1,  0,  1,  2,  1,  0,  0,  0,  8,  4, 20, 98,  1, 13,  0,  3,
        1,  0,  1,  4,  0,  2,  1,  1,  1,  0,  2,  0,  1,  0,  0,  0,  0,
        0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
        1,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
       10], dtype=int32)

In [26]:
np.argmax(counts)

199

In [56]:
sorted(df_test[1][0][1].unique())
dfr_test = pd.DataFrame(df_test[1][0][1])
dfr_test.tail()

      1
415  42
416  42
417  42
418  42
419  42

In [19]:
imgs_test.shape, imgs_test[1][0][1]

((10, 1, 420, 580),
 array([  0, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 250, 240,
        244, 246, 245, 239, 236, 238, 240, 246, 250, 255, 252, 244, 239,
        245, 250, 254, 255, 255, 255, 255, 251, 248, 247, 247, 246, 245,
        247, 250, 247, 239, 243, 250, 253, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        251, 248, 247, 246, 246, 246, 241, 241, 246, 255, 255, 255, 255,
        244, 240, 244, 248, 255, 255, 255, 255, 244, 248, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 253, 250, 247, 245, 245, 247, 251, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 254, 251, 250, 248, 248, 255, 255, 255,
        255, 255, 255, 250, 247, 255, 253, 246, 243, 243, 246, 255, 255,
        255, 255, 255, 255, 247, 247, 247, 247, 251, 245, 251, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 252, 244, 244, 252, 255, 255, 255,
        254, 238, 239, 241, 244, 248, 252, 255, 255, 255, 255, 248, 244,
        247, 248, 252, 253, 252, 248, 243, 239, 238, 237, 233, 231, 231,
        230, 230, 230, 231, 231, 232, 233, 233, 233, 235, 235, 244, 246,
        252, 254, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 249, 242, 123,  96, 193, 201, 231,
        229, 222, 219, 204, 207, 210, 212, 211, 207, 196, 195, 121, 116,
        206, 206, 235, 239, 241, 240, 237, 232, 228, 228, 230, 235, 244,
        250, 255, 253, 246, 241, 233, 232, 230, 229, 229, 232, 236, 237,
        234, 235, 229, 222, 207, 212, 220, 225, 239, 239, 239, 239, 229,
        225, 215, 211, 210, 210, 210, 210, 187, 184, 178, 176, 185, 189,
        194, 197, 183, 186, 193, 197, 199, 198, 189, 183, 162, 159, 157,
        156, 165, 175, 192, 201, 208, 207, 204, 203, 210, 218, 235, 244,
        244, 241, 241, 246, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 251, 248, 253, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 255, 251, 247, 247, 250, 251, 243, 235, 235, 243, 244,
        248, 255, 255, 255, 255, 255, 253, 250, 251, 255, 255, 255, 255,
        255, 254, 246, 243, 248, 254, 255, 255, 255, 255, 255, 255, 255,
        255, 255, 249, 234, 226, 215, 218, 221, 222, 212, 211, 213, 217,
        232, 235, 240, 241, 240, 239, 237, 237, 249, 255, 255, 255, 255,
        247, 244, 251, 255, 255, 255, 255, 255, 255, 255, 255, 255, 248,
        234, 226, 213, 205, 203, 207, 217, 220, 225, 226, 226, 222, 215,
        213, 226, 227, 232, 235, 239, 241, 241, 240, 241, 242, 244, 244,
        240, 233, 219, 211, 213, 224, 229, 225, 206, 189, 172, 172, 182,
        185, 194, 199, 199, 192, 193, 200, 203, 203, 204, 205, 194, 191,
        184, 182, 182, 184, 186, 185, 177, 172], dtype=uint8))

train mask

In [12]:
type(imgs_mask_train), (imgs_mask_train.shape)

(numpy.ndarray, (12, 1, 420, 580))