# Orientate

In [ ]:
# list all views
SELECT * FROM sys.views

### What tables exist?

In [ ]:
SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'
# https://stackoverflow.com/questions/175415/how-do-i-get-list-of-all-tables-in-a-database-using-tsql

# Query

In [ ]:
# Select unique
SELECT DISTINCT ...

In [ ]:
# Count
SELECT count(*) ...

In [ ]:
# Count uniques
SELECT count(distinct *) ...

In [ ]:
# Filter
... WHERE x = 1

In [ ]:
# Multiple filters
... WHERE x = 1
AND y > 2

In [ ]:
# Multiple filters
... WHERE x = 1
OR y > 2

In [ ]:
# Between numeric
... BETWEEN 60 AND 70

In [ ]:
# Like
... LIKE 'data%' or LIKE 'da_a%'

In [ ]:
avg() sum()

In [ ]:
# Group by
... GROUP BY name

In [ ]:
# Group by
... GROUP BY name
having count(*) > 10

In [ ]:
# Count
SELECT count(*) AS total FROM orders WHERE customer_id <> '12';

# Insert
INSERT INTO table (col1, col2) values ('stuff', 12)

# Having
having is used as where after an aggregation

# Average
SELECT name, weight
FROM players, (SELECT AVG(weight) as av FROM players) as subq
WHERE weight < av

# Views
CREATE view course_size as select * from animals;

# Sort / order
select * from view
order by name


# Nested query
SELECT
    a.*
FROM
    (SELECT * FROM table) a

##### Examples

In [ ]:
select 
    o.name, count(*) as num
from
    animals a 
        join taxonomy t on a.species = t.name 
        join ordernames o on o.t_order = t.t_order 
group by t.t_order
order by num desc;

# JOIN

In [ ]:
SELECT *
FROM table1
INNER JOIN table2 ON table1.column_name = table2.column_name;

# Drop Columns

In [ ]:
ALTER TABLE LH_VoC_Survey.dbo.tableX
DROP COLUMN [Columnname]

# Transform tables

### Update columns

In [ ]:
UPDATE DeviceAttribute
SET Details = CASE Name
          WHEN 'Accessories'   THEN @Accessories
          ELSE Details
              END
WHERE DeviceID = 10 
  AND ( Name = 'Accessories'   AND @Accessories IS NOT NULL
      ) ;

### Check typeof variable

In [ ]:
# Teradata
extract(year from depTms) = 2015

# Combine tables

#### UNION
- merges contents of 2 structurally-compatible tables into one
- UNION ALL will include duplicate rows

In [ ]:
SELECT column_name(s) FROM table1
UNION
SELECT column_name(s) FROM table2;

#### JOIN
- 5 different:
    - INNER JOIN - all with one match in BOTH
    - LEFT (OUTER) JOIN - all rows from left, matched from right
    - RIGHT (OUTER) JOIN - all rows from right, left matched
    - FULL (OUTER) JOIN - all which have EITHER ..
    - CROSS JOIN - each row from 1. combined with each row from 2.

In [ ]:
SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
INNER JOIN Customers
ON Orders.CustomerID=Customers.CustomerID;

# Python API

In [ ]:
import sqlite3
conn = sqlite3.connect("Cookies")
cursor = conn.cursor()
cursor.execute(
"select host_key from Cookies limit 2")
results = cursor.fetchall()
print results
conn.close()

# Teradata Connection

In [5]:
import teradata

In [6]:
udaExec = teradata.UdaExec (appName="HelloWorld", version="1.0",
        logConsole=False)

In [9]:
?teradata.UdaExec

In [ ]:
session = udaExec.connect(method="odbc", system="tdprod",
        username="U819369", password="xxx");
 
for row in session.execute("SELECT GetQueryBand()"):
    print(row)