### UNION
- merges contents of 2 structurally-compatible tables into one
- UNION ALL will include duplicate rows

In [1]:
SELECT column_name(s) FROM table1
UNION
SELECT column_name(s) FROM table2;

SyntaxError: invalid syntax (<ipython-input-1-51fe7b6a002a>, line 1)

### JOIN
- 5 different:
    - INNER JOIN - all with one match in BOTH
    - LEFT (OUTER) JOIN - all rows from left, matched from right
    - RIGHT (OUTER) JOIN - all rows from right, left matched
    - FULL (OUTER) JOIN - all which have EITHER ..
    - CROSS JOIN - each row from 1. combined with each row from 2.

In [3]:
SELECT Orders.OrderID, Customers.CustomerName
FROM Orders
INNER JOIN Customers
ON Orders.CustomerID=Customers.CustomerID;

SyntaxError: invalid syntax (<ipython-input-3-4ed71d0f658f>, line 1)

### COUNT

In [5]:
SELECT count(*) AS total FROM orders WHERE customer_id <> '12';

SyntaxError: invalid syntax (<ipython-input-5-4187169d4729>, line 1)